// Overwriting vuetify's css
*{
    font-family: $secondary-family;
}
:root {
    --animate-duration: 0.2s;
  }
input{
    background-color: white;
    border-style : inset;
    border-radius: 0.25rem;
}