.row-component{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;

    &:hover{
        background-color: lightgray;
        border-radius: 10px;
    }
    
    .title{
        margin-left: 20px;
        font-weight: 600;
        font-size: 14px;
    }
    .v-icon{
        font-size : xx-large;
        color: #2e81f4;
    }
}